streamlit==1.18.1

langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.53
langchain-text-splitters==0.0.1

langchain-google-genai==1.0.10

chromadb==0.4.24
PyPDF2==3.0.1
python-dotenv==1.0.0

altair==4.2.2


# uncomment to use huggingface llms
# huggingface-hub==0.14.1

# uncomment to use instructor embeddings
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2
